*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    background: #f8f8f8;
}
header{
    width: 100%;
    padding: 1rem 0;
    background: #f8f8f8;
    border-bottom: 1px solid #ccc;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
nav .links{
    display: flex;
}
nav .links li{
    padding: 0 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}
ul{
    list-style-type: none;
}
.fa-solid, .fa-regular, .logo{
    color: #FC4C02;
}
.logo{
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
}
#form{
    text-align: center;
}
#search{
    width: 230px;
    height: 35px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.9rem;
    padding-left: 1rem;
}
#search:hover, #search:focus{
    border: 1px solid #FC4C02;
    outline: none;
}
button[type="submit"]{
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    background: none;
}
main{
    width: 100%;
}
main .hero{
    width: 100%;
    height: 85vh;
    background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.83)), url("../assets/hero.jpg") center center/cover;
    display: flex;
    align-items: flex-end;
}
main .hero .about{
    margin-bottom: 5%;
    padding: 0 2rem;
    color: #fff;
}
main .hero .about .desc{
    word-wrap: break-word;
    width: 45rem;
    padding: 20px 0;
}
#container{
    width: 90%;
    /* height: 100vh; */
    /* background: red; */
    margin: 2rem auto 0; 
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem ;
}
.card{
    width: 300px;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgb(0 0 0 / 10%);
    background-color: var(--secondary-color);
    position: relative;
    background: #f8f8f8;
    overflow: hidden;
}
.card .about-movie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.card .about-movie h4{
    color: #FC4C02;
}
.card img{
    width: 100%;
    object-fit: cover;
}
.flex{
    display: flex;
}
.cta {
    margin-top: 20px;
}
.btn{
    padding: 8px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    background: transparent;
    border-radius: 20px;
    border: 2px solid #FC4C02;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.1s ease-in;
}
.btn.left{
    margin-left: 5rem;
}

/* dropdown */
.categories li {
  color: #000;
  padding: 3px 16px !important;
  cursor: pointer;
  text-decoration: none;
  display: block;
}
.categories {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  min-width: 125px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#categories{
    position: relative;
}
#categories:hover .categories{
    display: block;
}
.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
}
.page{
    text-decoration: underline;
    color: blue;
    font-weight: 500;
    font-size: 1.2rem;
    padding:20px;
    cursor:pointer;
}


/* movie details overview */
.overview{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    background-color: #f8f8f8;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(100%);
    transition:transform 0.2s ease-in-out;
}

.card:hover .overview{
    transform:translateY(0)
}
.overview p{
    padding: 12px 0;
}
.overview .btn{
    color: #000;
    margin: 0 auto;
    width: 100%;
}
.btn:hover{
    box-shadow: 0 0 20px #FC4C02;
}